body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: serif;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #7f5539;
    color: #432818;
    border: 2px solid #432818;
    border-radius: 40px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.card:hover {
    background-color: #d4a373;
}
.writings {
    text-shadow: 0 0 10px #9b2226;
    
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

